<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>128593404060-5g7gp5cnuocmqpb84l3fbg5o7oc1klaf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.128593404060-5g7gp5cnuocmqpb84l3fbg5o7oc1klaf</string>
	<key>API_KEY</key>
	<string>AIzaSyAnJCRLsiXnOec7_YKiTaAzSpnjTsYKSvM</string>
	<key>GCM_SENDER_ID</key>
	<string>128593404060</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ogaw.snsApp</string>
	<key>PROJECT_ID</key>
	<string>chat-app-23501</string>
	<key>STORAGE_BUCKET</key>
	<string>chat-app-23501.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:128593404060:ios:23061c2c94ab0d959b0d59</string>
</dict>
</plist>